body{
    font-family: "Microsoft YaHei",Helvetica, Arial, sans-serif;
    background-color: lightblue;
    color: #000;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
a{
    cursor: pointer;
    text-decoration: none;
}
ul{
    list-style: none;
    width: 100%;
}


/***************主页*****************/
.wrap {
    position: relative;
    width:255px;
    height:408px;
    overflow: hidden;
}
.container{
    //position: relative;
    position: absolute;
    top: 0;
    //margin: 20px auto;
    background-color: #fff;
    width:255px;
    height:408px;
}
#register {
    left: 0;
}
#home {
    left: 255px;
    z-index: 10;
}
#personal {
    left: 510px;
    z-index: 50;
}
#public {
    left: 510px;
    z-index: 50;
}
.header{
    background-color: #f5f2f2;
    width:100%;
    height: 10%;
    color: #000;
    text-align: center;
}
.header:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
h1{
    display: inline-block;
    vertical-align: middle;
    font-size:17px;
    letter-spacing: 2px;
}

.personal{
    height: 50%;
    text-align: center;
}
.personal-position{
    margin-top: 62px;
}
.personal-img{
    width: 100px;
    height: 100px;
    border-radius:50%;
    overflow: hidden;
    margin: 28px auto 5px auto;
}
.personal-img img{ 
    width: 100%;
}
.personal p{
    font-size: 15px;
}
.form_group{
    width: 100%;
    margin-top: -40px;
}
.btn{
    font-weight: 600;
    color: #fff;
    background-color: #23f3ac;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-register{
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-bottom-right-radius:2px; 
    border-top-right-radius:2px; 
} 
.btn-collect{
    font-size: 14px;
    margin-top: 32px;
    width: 124px;
    height: 32px;
    -moz-border-radius:7em;
    -webkit-border-radius:7em; 
    border-radius:7em;
    -moz-box-shadow:1px 1px 2px #b5b5b5; 
    -webkit-box-shadow:1px 1px 2px #b5b5b5;
    box-shadow:1px 1px 2px #b5b5b5;
}
.form_input{
    position: relative;
    width: 70%;
    margin-left: 15%;
    height:30px;
}

input[type="text"]{
    outline: none;
    border: 1px solid #dedede;
    background: #f0eff0;
    border-radius: 2px;
    font-size: 13px;
    text-indent:12px;
    width: 100%;
    height:100%;
    text-overflow: ellipsis;/*显示省略符号来代表被修剪的文本。*/
    font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif;
}
.btn:hover{
    background-color: #26da9c;
}
.personal+ul{
    cursor: pointer;
    height: 20%;
    margin-top: 20%;
    color: #7c7c7c;
}
.personal+ul li{
    position: relative;
    height: 50%;
    background-color: #e5e5e5;
    margin-top: 1px;
    letter-spacing: 7px;
    padding: 9px 0 8px 66px;
    margin-left: 1px
}
.personal+ul li:hover .left-style{
   border-left: 2px solid #f67878;
   background-color: #d2d2d2;
}
.personal+ul li:hover {
    background-color: #dcdcdc;
}
.personal+ul li:hover .right-style{
    color: #000;
}
.left-style{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 18%;
    height: 100%;
    background-color: #dcdcdc;
    font-size: 22px;
    text-align: center;
    padding-top: 4px;
    padding-left: 6px;
    border-left: 2px solid #fff;
}
.right-style{
    font-size: 22px;
    padding-right: 5px;
    float: right;
    cursor: pointer;
}
.fa-lg-self{
    vertical-align: 13% !important;
}

/*******************个人/公共 *****************/
.back-style{
    position: absolute;
    left: 2px;
    top: 9px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
}
.fa-back-style{
    font-size: 32px !important;
}
.container-self{
    margin-top: 21px;
    max-height: 78%;
    overflow:auto;
}
.container-self::-webkit-scrollbar {  
  width: 8px;    
}  
.container-self::-webkit-scrollbar-track{  
   border: 5px solid #fff; 
}  
.container-self::-webkit-scrollbar-thumb {  
  border-radius: 10px;  
  border: 5px solid transparent;  
}   
.container-self::-webkit-scrollbar-track {  
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;  
}  
.container-self::-webkit-scrollbar-thumb {  
  min-height: 20px;  
  background-clip: content-box;  
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;  
}   
.container-self::-webkit-scrollbar-corner {  
  background: transparent;  
} 
.share-item{
    width: 96%;
    padding: 6px 0px 5px 0px;
    margin-top: 1px;
    border-bottom: 1px solid #ddd;
    margin-left: 8px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.share-item:hover{
    background-color:#34cd62; 
    color: #FFF;
}
.item-title{
    font-size: 13px;
    display: inline-block;
    width: 88%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item-title2{
    width: 76%;
}
.item-del{
    display: inline-block;
    float: right;
    margin-right: 3px;
    height:12px;
    width: 18px;
    color: #000;
}
.item-del:hover{
    color: red;
}
.item-nick{
    font-size: 13px;
    cursor: default;
    vertical-align: 24%;
}
.fa-self{
    vertical-align: 4%;
}